<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分布式计算平台</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/graph.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/inout.js"></script>
    <script src="/static/js/node.js"></script>
    <script src="/static/js/params.js"></script>
##     <script src="https://cdn.jsdelivr.net/npm/gojs/release/go.js"></script>
</head>
<body style="margin:50px">


<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#basic" data-toggle="tab" style="font-size: 18px;font-family: Monospaced">创建任务</a></li>
    <li><a href="#task" data-toggle="tab" onclick="seeTask()" style="font-size: 18px;font-family: Monospaced">查看任务</a></li>
    <li><a href="#document" data-toggle="tab" onclick="seeDoc()" style="font-size: 18px;font-family: Monospaced">帮助文档</a></li>
    <li class="dropdown pull-right" style="right: 100px">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">${current_user.username}<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="#" onclick="logout()">注销</a>
						</li>
					</ul>
				</li>
</ul>
<div id="myTabContent" class="tab-content" style="padding: 40px">
    <div class="tab-pane fade in active" id="basic">
  <div class="root">
    <nav class="primnav" id="navi">
    </nav>
    <div class="main-scope">
      <div class="canvas">
        <svg id="svg" width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" style="position:absolute;top:0;left:0;"></svg>
      </div>
      <div class="detail-bound">
        <div class="detail-view" style="display:none" id="detail-box"></div>
        <div class='button-div' style="display:table-cell" id='button_run'>
          <button class="bubbly-button" onclick="run_button()">提交任务</button>
        </div>
        <div class='delete-div' style="display:none" id='button_delete'>
          <button class="bubbly-button-delete" onclick="delete_button()">删除节点</button>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="tab-pane fade" id="task">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>任务列表</h4>
                <span style="font-size: 25px">共计</span>
                <span id="countTask" style="color: #c14646;font-size: 50px;font-family: inherit"></span>
                <span style="font-size: 25px">个</span>
                <button type="button" class="btn btn-primary btn-lg" style="float: right" onclick="seeTask()">刷　新</button>
            </div>
            <hr />
            <table class="table" id="taskTable">
                <tr>
                    <th>Index</th>
                    <th>Title</th>
                    <th>注释</th>
                    <th>提交时间</th>
                    <th>终止时间</th>
                    <th>状态</th>
                    <th>查看错误日志</th>
                    <th>查看相关data</th>
                    <th>删除</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="document">
        <blockquote>
            <p><a href="http://10.141.208.81:8080/" target="_blank">点此</a>查看集群详情</p>
        </blockquote>
        <blockquote>
            <h3>有监督学习</h3>
            <ul>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.classification.LogisticRegressionWithLBFGS" target="_blank">逻辑回归</a></li>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.tree.DecisionTree" target="_blank">决策树</a></li>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.classification.SVMWithSGD" target="_blank">SVM</a></li>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.classification.NaiveBayes" target="_blank">朴素贝叶斯</a></li>
            </ul>
        </blockquote>
        <blockquote>
            <h3>无监督学习</h3>
            <ul>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.clustering.KMeans" target="_blank">KMeans</a></li>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.fpm.FPGrowth" target="_blank">FP-Growth</a></li>
                <li><a href="http://spark.apache.org/docs/2.2.0/api/python/pyspark.mllib.html#pyspark.mllib.feature.Word2Vec" target="_blank">Word2Vec</a></li>
            </ul>
        </blockquote>
        <blockquote>
            <h3>关于我们</h3>
        </blockquote>
        <!--<a href="http://localhost:8080/">点此</a>查看集群详情-->
    </div>
</div>

<script>

//    var data = window.data;
//    var fileTypeList = ["jpg","png","jpeg","mp4","ogg","swf","txt"];


    var currentUserId;
    var trainFile = [];
    var testFile = [];
    function logout(){
        $.post(
            "logout",
                {},
                function (data) {
                    if(data['status']===0) window.location='/';
                }
        );
    }
    $(function(){
        currentUserId = ${current_user.id};
    });

    //---------------------init--------------------------------


    var currentId = -1;
    function switchId(id){
        currentId = id;
    }

    function deleteTask(taskId){
        if(confirm("确定要删除该任务吗?")){
            $.post("task/td/"+taskId,{},function(data){
                if(data["status"] === 1){
                    alert("删除成功");
                    seeTask();
                }
                else{
                    alert("删除失败");
                }
            });
        }
    }

    function seeData(taskId) {
        let url = window.location.protocol + '//' + window.location.host + '/data/' + taskId;
        window.open(url);
    }

    function seeLog(taskId) {
        $.get("log/"+taskId, function (data) {
            alert(data);
        });
    }

    function seeTask(){
        $(".tmptr").remove();
        $.get("task",function(data){
            $("#countTask").text(data["size"]);
            for(let i=0; i<data["content"].length; i++){
                let tmp = data["content"][i];
                let tmpstr = "<td>" + (i+1) + "</td>";
                tmpstr += "<td>"+tmp["title"]+"</td>";
                tmpstr += "<td>"+tmp["note"]+"</td>";
                tmpstr += "<td>"+tmp["submitTime"]+"</td>";
                tmpstr += "<td>"+tmp["endTime"]+"</td>";
                ##  tmpstr += "<td>"+tmp["task"]+"</td>";
                tmpstr += "<td>"+tmp["status"]+"</td>";
                tmpstr += "<td><input type='button' class='btn btn-info' onclick=seeLog("+tmp["id"]+") value='查看错误日志'></td>";
                tmpstr += "<td><input type='button' class='btn btn-info' onclick='seeData("+tmp["id"]+")' value='查看数据'></td>";
                tmpstr += "<td><button type='button' class='btn btn-danger' onclick='deleteTask("+tmp["id"]+")' "
                if(tmp["status"]==="Ready"||tmp["status"]==="Success"||tmp["status"]==="Fail"){
                    tmpstr += ">删除任务</button></td>";
                } else {
                    tmpstr += "disabled>删除任务</button></td>"
                }
                if(i%2===0){
                    $("#taskTable").append("<tr class = 'tmptr' bgcolor='#F0F8FF'>"+tmpstr+"</tr>");
                }
                else{
                    $("#taskTable").append("<tr class = 'tmptr' bgcolor='#EEEEE0'>"+tmpstr+"</tr>");
                }

            }
        });
    }

    function seeDoc(){
//        alert("doc doc!");
    }

    function seeWeb(){
        window.open("http://localhost:8080/","_blank");
//        window.location.href="http://localhost:8080/";
    }



</script>

    <script src="/static/js/graph.js"></script>


</body>
</html>
